* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraSans;
    font-size: 14px;
}

@import "themes/mocha.css";

window#waybar {
    background-color: alpha(@crust, 0.4);
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#bar {
	background-color: transparent;
	margin: 1 0 1 0;
	padding: 0 3;
	border: 0px solid rgba(0,0,0,0.1);
	border-radius: 5;
}


#workspaces button {
    padding: 0 4px;
    background-color: transparent;
    color: alpha(@text, 0.2);
    font-weight: bold;
    border-radius: 3;
    transition: all 0.3s linear;
}

#workspaces button.empty {
	padding: 0 4px;
	color: alpha(@text, 0.2);
	transition: all 0.3s linear;
}

#workspaces button.active {
	padding: 0 4px;
	transition: all 0.3s linear;
	color: @text;
}

#workspaces button.focused {
	padding: 0 4px;
    background-color: @red;
}

#workspaces button.urgent {
	padding: 0 4px;
    background-color: @red;
}

#workspaces button:hover {
	padding: 0 4px;
    background: alpha(@text, 0.1);
    border: 0px solid transparent;
    transition: all 0.3s linear;
}

#custom-menu {
	background: transparent;
	transition: all 0.3s linear;
	border-radius: 3;
	padding: 0 11 0 8;
	margin: 0 2 0 0;
	font-size: 14;
	color: @text;
}
#custom-menu:hover {
	color: alpha(@text, 0.4);
	transition: all 0.3s linear;
}

#custom-change {
	transition: all 0.3s linear;
	border-radius: 5;
	padding: 0 12 0 7;
	margin: 0 3 0 0;
	font-size: 10;
	color: alpha(@text, 0.2);
}

#custom-change:hover {
	color: @text;
	transition: all 0.3s linear;
}

#player {
	background: transparent;
	margin: 0 0 0 0;
	padding: 0 10;
	border-radius: 3;
}

#custom-playerctl {
	background: transparent;
	padding: 0px;
	border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
}

#custom-playerlabel {
	font-size: 12;
    background: transparent;
    padding: 0 5;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-style: normal;
}

#custom-notif {
	font-size: 13;
	margin: 0 15 0 5;
	transition: all 0.3s linear;
}

#custom-notif:hover {
	color: rgba(255, 255, 255, 0.3);
	transition: all 0.3s linear;
}

#clock {
    background-color: transparent;
    border-radius: 3;
    font-size: 12;
    font-weight: bold;
    color: alpha(@text, 1);
    padding: 0 2;
    margin: 0 5;
    transition: all 0.3s linear;
}

#battery {
    background-color: transparent;
    border-radius: 3;
    color: alpha(@text, 1);
    font-size: 13;
    font-weight: bold;
    margin: 3 0 3 0;
    padding: 0 5;
}

#battery.charging, #battery.plugged {
    color: @green;
}

@keyframes blink {
    to {
        background-color: @text;
        color: @crust;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: transparent;
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: transparent;
    padding: 0 7 0 10;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#tray {
    background-color: transparent;
    border-radius: 3;
    font-weight: bold;
    color: @text;
    padding: 0 5;
    margin: 5 0 5 0;
    transition: all 0.3s linear;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
