* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraSans, FontAwesome;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(17, 17, 27, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#bar {
	background-color: rgba(17, 17, 27, 0.5);
	margin: 3 0 3 0;
	padding: 3 3;
	border: 0px solid rgba(0,0,0,0.1);
	border-radius: 5;
}


#workspaces button {
    padding: 0 4px;
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
    border-radius: 3;
    transition: all 0.3s linear;
}

#workspaces button.empty {
	padding: 0 4px;
	color: rgba(255, 255, 255, 0.2);
}

#workspaces button.active {
	padding: 0 4px;
	transition: all 0.3s linear;
}

#workspaces button.focused {
	padding: 0 4px;
    background-color: #64727D;
}

#workspaces button.urgent {
	padding: 0 4px;
    background-color: #eb4d4b;
}

#workspaces button:hover {
	padding: 0 5px;
    background: rgba(255, 255, 255, 0.1);
    border: 0px solid transparent;
    transition: all 0.3s linear;
}

#custom-menu {
	background: rgba(205,214,244,0.1);
	transition: all 0.3s linear;
	border-radius: 5;
	padding: 0 13 0 7;
	margin: 0 3 0 0;
	font-size: 16;
	color: #cdd6f4;
}
#custom-menu:hover {
	color: rgba(205, 214, 244, 0.4);
	transition: all 0.3s linear;
}

#custom-change {
	transition: all 0.3s linear;
	border-radius: 5;
	padding: 0 10 0 5;
	margin: 0 3 0 0;
	font-size: 10;
	color: rgba(255, 255, 255, 0.2);
}

#custom-change:hover {
	color: rgba(205, 214, 244, 1);
	transition: all 0.3s linear;
}

#player {
	background: rgba(255,255,255,0.05);
	margin: 0 3 0 0;
	padding: 2 0;
	border-radius: 3;
}

#custom-playerctl {
	background: transparent;
	padding-left: 5px;
  padding-right: 1px;
	border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
}

#custom-playerlabel {
	font-size: 16;
    background: transparent;
    padding-left: 5px;
    padding-right: 15px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-style: normal;
}

#clock {
    background-color: transparent;
    font-size: 12;
    font-weight: bold;
    color: rgba(255,255,255,0.3);
    padding: 0 10;
    margin: 13 0 0 0;
    transition: all 0.3s linear;
}
#clock:hover {
	color: rgba(255,255,255,1);
	transition: all 0.3s linear;
}

#battery {
    background-color: transparent;
    color: rgba(255,255,255,0.3);
    font-size: 12;
    font-weight: bold;
    margin: 10 0 0 0;
    padding: 0 10 0 10;
}
#battery:hover {
	color: rgba(255,255,255,1);
	transition: all 0.3s linear;
}

#battery.charging, #battery.plugged {
    color: #26A65B;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: transparent;
    padding: 0 7 0 10;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#tray {
    background-color: transparent;
    font-weight: bold;
    color: rgba(255,255,255,0.3);
    padding: 0 2;
    margin: 13 0 0 0;
    transition: all 0.3s linear;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#tray:hover {
	color: rgba(255,255,255,1);
	transition: all 0.3s linear;
}

