#!/bin/bash
# Windowrule & Layerrule

windowrule = float, pavucontrol
windowrule = float, imv
windowrule = float, imv-dir
windowrule = float, waypaper
windowrule = float, engrampa

#windowrulev2 = float,class:^(kitty)$,title:^(kitty)$
windowrulev2 = opacity 0.90 0.90,class:^(pcmanfm)$
windowrulev2 = opacity 0.70 0.70,initialTitle:^(pcmanfm)$


layerrule = blur, waybar
layerrule = ignorezero, waybar
layerrule = blur, rofi
layerrule = ignorezero, rofi
layerrule = blur, dunst
layerrule = ignorezero, dunst
